apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"  
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    chart: ingress-nginx
    targetRevision: 4.8.3
    helm:
      releaseName: ingress-nginx  
      values: |
        controller:
          service:
            type: ClusterIP  
          publishService:
            enabled: true
          ingressClassResource:
            enabled: true
            name: nginx
            controllerValue: k8s.io/ingress-nginx
            default: false
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          replicaCount: 2
          podAnnotations:
            prometheus.io/scrape: "true"
            prometheus.io/port: "10254"
          admissionWebhooks:
            enabled: false  
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
